/* Import Roboto font from google libraries */
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Sans-Serif, Arial, Verdana;
}

a:link, a:active, a:visited {
    color: darkslategrey;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #63cae9;
    text-shadow: 2px 2px white;
}

/* Header Class */
.Top {
    min-width: 1024px;
    background-color: #F5F5F5;
    border-bottom: 2px solid #C0C0C0;
    -webkit-box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.32);
    box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.32);
}

.Top img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.Error {
    margin: 0;
    padding: 0;
    min-width: 1024px;
    background-color: #F5BCA9;
}

.Error p {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: darkslategrey;
}

.Success {
    margin: 0;
    padding: 0;
    min-width: 1024px;
    background-color: #90EE90;
}

.Success p {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: darkslategrey;
}

.Container {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.Nav ul li {
    display: inline;
    margin-right: 15px;
    font-size: 20px;
}

.Nav ul li a:active, a:link, a:visited {
    font-size: 20px;
}

.Container article {
    width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #C0C0C0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.Container header {
    width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #C0C0C0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #F5F5F5;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: darkslategrey;
}

.Input {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #C0C0C0;
    -webkit-border-radius: 4px;
    -moz-border-radius-: 4px;
    border-radius: 4px;
}

.Input:focus {
    border: 2px solid #A9E2F3;
}

.Button {
    font-weight: bold;
    background-color: #FBF2EF;
    border: 2px solid grey;
    -webkit-border-radius: 4px;
    -moz-border-radius-: 4px;
    border-radius: 4px;
    color: darkslategrey;
    font-size: 13px;
}

.Button:hover {
    border: 2px solid #A9E2F3;
    cursor: pointer;
    color: darkslategrey;
    -webkit-border-radius: 4px;
    -moz-border-radius-: 4px;
    border-radius: 4px;
}

.Table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1024px;
    border-collapse: collapse;
    border-top: 2px solid #63cae9;
}

.Table td {
    border-bottom: 2px solid #63cae9;
    width: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.Table input[type="text"] {
    font-size: 14px;
    outline: none;
    border: 1px solid #C0C0C0;
    width: 100px;
    padding: 5px;
}

.Table input[type="checkbox"] {
    width: 30px;
}

/* Class space
.Error article {
    background-color: #FF8080;
    margin-top: 1px;
}

.Error p {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}

.Success article {
    background-color: #00FA9A;
    margin-top: 1px;
}

.Success p {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    margin-top: %;
    width: 80%;
    font-size: 14px;
}

.Container header {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
    border: 1px solid #C0C0C0;
    border-bottom: 0px;
    padding-left: 0.8%;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 18px;
    color: darkslategray;
}

.Container article {
    border: 1px solid #C0C0C0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 0.8%;
    padding-right: 0.8%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

body {
    margin: 0px;
    font-family: Roboto;
}

a:link, a:active, a:visited {
    font-size: 17px;
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: darkslateblue;
}

header {
	background-color: #F5F5F5;
        border-bottom: 1px solid #C0C0C0;
        padding: 0.5%;
        margin: 0px;
}

header ul {
    list-style: none;
    text-align: center;
}

header li {
    display: inline;
    margin-left: 2%;
}

header p {
    margin: 0px;
    margin-right: 2%;
    padding: 0px;
}

#Login {
    margin: 0 auto;
    width: 30%;
    height: 30%;
    margin-top: 100px;
}

#Login header {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
    border: 1px solid #C0C0C0;
    border-bottom: 0px;
    padding-left: 4%;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 18px;
    color: darkslategray;
}

#Login article {
    border: 1px solid #C0C0C0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 3%;
    padding-right: 5%;
}

#Login input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #C0C0C0;
    background-color: #F5F5F5;
    font-size: 16px;
    color: darkslategray;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
}

#Login input:focus {
    border: 1px solid #0099FF;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.36);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.36);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.36);
}

#Login input[type="text"] {
    margin-top: 20px;
    width: 100%;
}

#Login input[type="password"] {
    margin-top: 20px;
    width: 100%;
}

#Login input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    font-weight: bold;
}

#Login input[type="submit"]:hover {
    background-color: #A9E2F3;
    cursor: pointer;
    color: darkslategrey;
}*/